body {
  background: rgb(24, 24, 24);
  color: #fff;
}

#page {
  margin: 0 auto;
  padding: 18px 0;
  width: 966px; /* 80.5em */
}

h1 {
  color: rgb(81,81,81);
  border-bottom: 1px solid rgb(81,81,81);
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 30px;
  margin-bottom: 2px;
}

h5 {
  font-family: Georgia, Times, serif;
  font-weight: normal;
}

ul {
  list-style-type: none;
  margin: 0;
}

li {
  margin: 0;
  padding: 17px 0 18px;
  border-bottom: 1px dotted rgb(81,81,81);
}

p {
  color: rgb(81,81,81);
}

a, a:visited {
  color: rgb(135, 182, 182);
  text-decoration: none;
}

h5 a, h5 a:visited {
  color: #fff;
}

a:hover, h5 a:hover {
  color: #9ef;
}

b {
  font-weight: normal;
}

.item {
  overflow: hidden;
}

.item img {
  float: left;
  padding: 0 9px 18px 0;
  height: 72px;
}

.item br {
  clear: left;
}

h1 img {
  vertical-align: bottom;
}

.source img {
  vertical-align: top;
}
